
<ion-tabs *ngIf="mostrar">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" ></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="buscar">
      <ion-icon name="search" ></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="milista">
      <ion-icon name="heart" ></ion-icon>
      Mi lista
    </ion-tab-button>
    <ion-tab-button tab="miperfil">
      <ion-icon  name="person-circle" 
    ></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>